/* Paleta de colores
    #344CB7
    #000957 Azul oscuro
    #577BC1
    #FFEB00 Amarillo       */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000957;
    font-family: Roboto, sans-serif;
}