/* pagina hinchada ------------------------------------->*/

.titulo_hinchada {
    font-size: 1.9em;
    text-align: center;
}

.parrafo_hinchada {
    font-size: 1.3em;
    text-align: center;
}

iframe {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 30px;
}