/* mediaQ --------------------------------------------->*/

 /* nav y header  */
@media (max-width: 480px){

    body {
        padding: 5px;
        header {
            padding: 0;
            width: 100%;
        img {
            margin: 10px;
        }
        }
        nav {
            width: 100%;
            margin-bottom: 8px;
        .navbar-toggler {
            margin-bottom: 0;
        }
        }
         /* pagina principal */
        .banner-inicio {
            height: 400px;
        }
        .section_partidos {
            flex-direction: column;
            align-items: center;
        button {
            margin-bottom: 40px;
        }
        }
    }

        /* pagina partidos */

    .subtitulo_partidos {
        text-align: center;
        margin: 20px;
        padding-top: 15px;
    }
    .form-nombre, .form-email, .form-comen{
        margin-right: 20px;
        margin-left: 5px;
        padding-bottom: 20px;
        label {
            font-size: 1em;
        }
        input {
            border-radius: 5px;
        }
    }

        /* pagina titulos */

    .contenedor-grid {
        grid-template-areas:
        "titulo"
        "texto1"
        "img2"
        "texto2"
        "img3"
        "texto3";
        grid-template-columns: 90%;
        grid-template-rows: 70px 500px repeat(2, 350px) 300px 450px;
        gap: 20px;
        .grid-img1 {
            display: none;
        }
        
    }

        /* pagina hinchada */

    iframe {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
    }

        /* pagina historia */

    .cards-flex {
        flex-direction: column;
        height: 1500px;
        align-items: center;
        gap: 10px;
        .card-body {
            background-color: #344CB7;
            height: 150px;
            width: 300px;
            padding: 0;
            .card-text {
                color: #FFEB00;
            }
        }
        .card {
            position: static;
            .card-img-top {
                height: 300px;
                width: 300px;
            }
        }
    }
    
    
    

        /* footer */

    footer {
        width: 100%;
        .div-footer {
            text-align: center;
            margin: 0;
            padding: 0;
            padding-top: 15px;
        }
    }
    .titulo-footer {
        text-align: center;
        margin-right: 40px;
        padding: 0;
        padding-top: 25px;
    }
    .imagenes-footer {
        justify-self: center;
        padding-top: 15px;
        margin-right: 30px;
    }
    .parrafo-footer p {
        text-align: center;
    }

}

        /* mediaQ para tablets */

@media (min-width: 481px) and (max-width: 1024px){

    body {
        padding: 3px;
        header {
            justify-content: space-between;
            padding-right: 0;
        }
        nav {
            width: 70%;
        }
        .section_partidos {
            flex-direction: column;
            align-items: center;
            button {
                margin-bottom: 40px;
        }

        }
    }

            /* pagina partidos */

    .subtitulo_partidos {
        font-size: 2em;
        text-align: center;
        margin: 30px;
        padding-top: 15px;
    }
    .form-nombre, .form-email, .form-comen {
        margin-right: 20px;
        margin-left: 25px;
        padding-bottom: 20px;
        label {
            font-size: 1.6em;
        }

        input {
            border-radius: 5px;
        }
    }

            /* pagina titulos */

    .contenedor-grid {
        grid-template-areas: 
        "titulo" 
        "texto1"
        "img3"
        "texto2"
        "img2" 
        "texto3";

        grid-template-columns: 60%;
        grid-template-rows: 70px 300px 500px repeat(2, 300px);
        gap: 10px;
        justify-content: center;
        .grid-img1 {
            display: none;
        }

    }   

        /* pagina historia */

    .cards-flex {
        flex-direction: column;
        align-items: center;
        height: 1500px;
        gap: 10px;
        .card-img-top {
            height: 350px;
            width: 350px;
        }  
        .card-body {
            background-color: #344CB7;
            height: 150px;
            width: 350px;
            justify-items:  center;
            .card-text {
                color: #FFEB00;
            }
        }            
    }

        /* pagina hinchada */
    
    iframe {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }

        /* footer */

    footer {
        margin-top: 50px;
    }
}